.header {
  padding: 0px 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background: #121212;
  height: 100px;
  padding-top: 38px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1900px;
  margin: 0 auto;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 56px;
}

.header__logo {
  margin-right: 620px;
}

.header__btn {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  padding: 10px 30px;
}